* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ==== VARIAVEIS DE COR ==== */
:root {
    --primary-color: #c6c3c3;
    --second-color: #ffffff;
    --black-color: #000000;
}

/*body {

}*/

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/werehouse.webp");
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    /* desfoca o fundo */
    z-index: -1;
}

.input_box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.input_field {
    width: 100%;
    height: 55px;
    font-size: 16px;
    background: transparent;
    color: var(--second-color);
    padding-inline: 20px 50px;
    border: 2px solid var(--primary-color);
    border-radius: 30px;
    outline: none;
}

.input_submit {
    width: 100%;
    height: 50px;
    background: #ececec;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 30px;
    transition: .3s;
}

.input_submit:hover {
    background: var(--second-color);
}

.header {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    width: 170px;
    height: 70px;
    border-radius: 0 0 20px 20px;
}

.header span {
    font-size: 30px;
    columns: var(--black-color);
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50px;
    width: 50px;
    height: 50px;
    border-top-right-radius: 50%;
    background-color: transparent;
    box-shadow: 25px 0 0 0 var(--primary-color);
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    right: -50px;
    width: 50px;
    height: 50px;
    border-top-left-radius: 50%;
    background-color: transparent;
    box-shadow: -25px 0 0 0 var(--primary-color);
}